:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color: cyan;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-size: 1rem;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

#root > *:first-child {
  grid-column: span 2;
  padding: 1rem;
  overflow: auto;
}

#root > button {
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 3rem 2rem 1rem;
}

input,
button,
textarea {
  font: inherit;
}

button {
  color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
  border-width: 1px;
  cursor: pointer;
  background: #000;
}

button:disabled {
  color: #aaa;
  pointer-events: none;
}

button:enabled:active:hover div {
  translate: 0.5px 0.6px;
}

h1 {
  color: var(--color);
  font-size: 3.2em;
  line-height: 1.1;
}
